---
certbot_create_method: standalone
certbot_admin_email: admin@domain.ltd
nginx_remove_default_vhost: true

nginx_vhosts:
  - listen: 443 ssl
    server_name: site1.domain.ltd
    proxy_url: https://127.0.0.1
    template: ansible-role-nginx/templates/proxy-vhost.j2
    https_redirect: true
    use_letsencrypt: true
    use_dhparam: true
    proxy_extra_parameters: |
        proxy_ssl_verify off;
        proxy_ssl_session_reuse on;
  - listen: 80
    server_name: site2.domain.ltd
    proxy_url: http://127.0.0.2
    template: ansible-role-nginx/templates/proxy-vhost.j2
    https_redirect: false
